*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
body {
}
:root {
  --primary-100: #d1e9ff;
  --primary-200: #add8ff;
  --primary-300: #8ac6ff;
  --primary-400: #66b5ff;
  --primary-500: #42a4ff;
  --primary-600: #1f93ff;
  --primary-700: #0081fa;
  --primary-800: #006fd6;
  --primary-900: #005cb3;
  --primary-1000: #004a8f;
}

.color-row {
  height: 60px;
  font: bold;
  color: white;

  padding-inline: 1em;
}
.color-wrapper {
  height: 100%;
}

/* SELECTION */
::selection {
  color: white;
  background: #2595be80;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: #333;
  width: 17px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border: 3.2px solid #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.color-picker {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 0px;
  padding-inline: 1em;
  position: absolute;
  top: 0;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.color-picker::before {
  content: '🎨';
  position: absolute;
  font-size: 20px;
}
.color-picker-ctn {
  position: relative;
}

.color-input {
  border-radius: 7px;
  padding-inline: 10px;
  outline: none;
  border: none;
  background-color: #d4d4d4;
  font-size: 18px;
  padding-block: 10px;
}

footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1em;
  flex-direction: column;
  gap: 20px;
}

.range {
  border: 0px;
  outline: 0px;
}
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: #d4d4d4;
  background-image: linear-gradient(to right, #e6e6e6, #4f4f4f);
  border-radius: 20px;
  cursor: pointer;
}
.range-ctn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 10px;
}
